@model IEnumerable<FavoriteVerses.Models.Verse>
@{
    ViewBag.Title = "Favorite Verses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Favorite Verses</h2>
<br />
<div class="search-results">
    @if (Model != null && Model.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th class="favorites-th">Verse</th>
                    <th class="favorites-th">Image</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.VerseText (@item.ReferenceText NLT)</td>
                    <td><img src="@item.ImageLink" class="verse-image" asp-append-version="true"></td>
                </tr>
                }
            </tbody>
        </table>
          
    }
    else
    {
        <p>You have added no favorites. Search to list verses to add as favorites.</p>
    }
</div>
